*{
margin: 0;
padding: 0;
}
caption{
font-family: 20px;
font-weight: bold;
color: blue;
margin: 10px;
}
table,th,td{
border: 1px solid olive;
border-collapse: collapse; /*los bordes se juntan*/
}
.caja{
border:4px solid #535609;
width: 903px;
height: 540px;
margin:10px auto;
}